<head>
    <meta name="viewport"    content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Image factory providing automatically resized and re-encoded images.">
    <meta name="author"      content="Yannik Schmidt">
    <meta name="title"       content="TM Replays">

    <meta property="og:type" content="website" />
    <meta property="og:title" content="Trackmania Replay Server" />
    <meta property="og:description" content="TM Replay Server developed by Yannik Schmidt" />
    <meta property="og:url" content="/" />

    <link rel="shortcut icon" href="/defaultFavicon.ico">
    
    
    <!-- Bootstrap core JS -->
    <script src="https://cdn.atlantishq.de/js/jquery.min.js"></script>
    
    <!-- Bootstrap core CSS -->
    <link href="https://cdn.atlantishq.de/fontawesome/css/all.css" rel="stylesheet">
    <link href="https://cdn.atlantishq.de/css/bootstrap.min.css" rel="stylesheet">
    <script defer src="https://cdn.atlantishq.de/js/bootstrap.min.js"></script>
    <script defer src="https://cdn.atlantishq.de/js/addons/datatables.min.js"></script>
    
    <!-- mdb -->
    <link href="https://cdn.atlantishq.de/css/mdb.min.css" rel="stylesheet">
    <script defer src="https://cdn.atlantishq.de/js/mdb.min.js"></script>
    
</head>
