<head>
    {% include "head.html" %}
</head>
<body>
    {% include "upload-button.html" %}
    <table>
	<thead>
		<tr>
			<th class="px-2">Map</th>
			{% if player %}
			<th class="px-2">Personal Best</th>
			{% endif %}
			<th class="px-2">Record</th>
			<th class="px-2">Record Holder</th>
			<th class="px-2">Record Age</th>
			<th class="px-2">Runner Up (%)</th>
		</tr>
	</thead>
	<tbody>
    {% for map in maps %}
		<tr>
			<td class="px-2">
                <a href="/map-info?map_uid={{ map.map_uid }}">{{ map.mapname }}</a>
            </td>
			{% if player %}
                {% set pb = map.get_best_replay_for_player(player) %}
                {% if pb and pb.race_time != map.get_best_replay().race_time %}
			<td class="px-2">{{ pb.get_human_readable_time() }}</td>
                {% elif pb %}
			<td class="px-2" style="color: darkgreen">CRH</td>
                {% endif %}
			{% endif %}
			<td class="px-2">{{ map.get_best_replay_repr().split(" ")[0] }}</td>
			<td class="px-2">{{ map.get_best_replay().clean_login() }}</td>
			<td class="px-2">{{ map.get_best_replay_age() }} days</td>
			<td class="px-2">{{ map.get_record_replay_percent_diff() }}</td>
		</tr>			
	{% endfor %}
	</tbody>
    </table>
</body>
